

<section class="login">
    <div class="form-signin w-100 m-auto">
        <form class="d-flex flex-column justify-content-center align-items-center">
            <img class="container mb-4 " src="/images/logo.svg" alt="logo" width="176" height="70">
            <h1 class="form-title h3 mb-3 fw-bold fs-1">Вход</h1>
            <div class="input-group mb-3 ">
                <span class="input-group-text " ><img src="/images/mail.png" alt="email"></span>
                <div class="form-floating fw-normal fs-5 h-100">
                    <input type="text" class="form-control fw-semibold fs-5" id="email" placeholder="email" required>
                    <label class="opacity-50 mh-5 emailLabel" for="email">Электронная почта</label>
                </div>
            </div>
                <div class="validationText">Поле email должно быть действительным электронным адресом.</div>
            <div class="input-group mb-3">
                <span class="input-group-text " ><img src="/images/lock.svg" alt="lock"></span>
                <div class="form-floating fw-normal fs-5 h-100">
                    <input type="password" class="form-control fw-semibold fs-5 " id="password" placeholder="password" required>
                    <label class="opacity-50 mh-2" for="password">Пароль</label>
                </div>
            </div>
            <div class="passwordValidText">Заполните поле с паролем</div>
            <div class="form-checkbox mb-3 col-md-12 d-flex fw-semibold align-text-bottom">
                <label>
                    <input type="checkbox" value="Запомнить меня" > Запомнить меня
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" id="process" disabled>Войти</button>
        </form>
        <div class="reg-page">
            <p class="reg-page-p">Ещё нет аккаунта? <a href="#/register">Пройдите регистрацию</a></p>
        </div>
        <div class="notValidTextBack">Неверная почта или пароль</div>
    </div>
</section>

